/* Global Styles */
body {
    background-color: #0D1309;
}

img {
    display:block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: #4A7A8C;
}

a:hover {
    color: #fffcfc;
    text-decoration: none;
}

#container {
    background-color: white;
    width: 75%;
    margin: 20px auto;
    border-radius: 20px;

}

h1, h2, h3 {
    text-align: center;
    color: #631b1b;
}

/*Desktop Styles*/

nav {
    background-color: #631b1b;
    padding: 5px 0;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav li {
    display: inline-block;
}

nav li a {
color:#ff5656;
margin-right: 20px;
text-decoration: none;
font-size: 20px;
font-weight:bold;
}

nav li a:hover {
    color: white;

}

header h1 {
    font-size: 75px;
    color: #931216;
    text-shadow: 2px 2px 2px #0D1309;
}

main {
    padding: 20px;
}

#lower {
    display: flex;
}

.col {
    padding: 10px;
    margin:10px;
    border: 2px solid #931216;
    width: 33.33%;
    border-radius: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

hr {
width: 95%;
}

.button {
    display: block;
    background-color: #0D1309;
    width: 200px;
    height: 40px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto

}

.button:hover {
    color: white;
}

#Honorable_Mentions {
    display: flex;
}

.HonorableMentionscover {
    margin: 10px;
}

.HonorableMentionscover img {
    width: 100%;
}

.img_space {
    margin-bottom: 10px;
    margin-top: 20px;
}

